@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif;
  background: #F7F3EB;
  color: #3D3929;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
